In [1]:
# Adding two numbers 
4 + 5

9

In [5]:
# Subtracting two numbers
9 - 3

6

In [9]:
# Multiply two numbers
3*4

12

In [13]:
# divide two numbers
9/3

3.0

In [21]:
# add , multiply, divide, and subtract two numbers
a = 5
(a + a*a - a/a)

29.0

In [25]:
# Convert hrs into min
hrs = 2
min = hrs*60
min

120

In [27]:
# convert min into hrs
min = 900
hrs = min/60
hrs

15.0

In [29]:
#  Convert dollars into Rs. Where 1 $ = 48 Rs
dollar = 3
ruppees = 48*dollar
ruppees

144

In [31]:
#Convert Rs. into dollars where 1 $ = 48 Rs. 
ruppees = 69
dollar = ruppees/48
dollar

1.4375

In [33]:
#  Convert dollars into pound where 1 $ = 48 Rs. And 1 pound = 70 Rs. 1 pound = 1.458 dollar
dollar = 300
pound = dollar/1.458
pound

205.76131687242798

In [35]:
#  Convert grams into kg
gm = 20000
kg = gm/1000
kg

20.0

In [37]:
# Convert kgs into grams
kg = 2
gm = kg*1000
gm

2000

In [41]:
# . Convert bytes into KB, MB and GB.
byte = 10000000000000000000000
kb = byte/1000
mb = byte/1000000
gb = byte/1000000000000
gb

10000000000.0

In [45]:
# Convert celcius into Fahrenheit. F = (9/5 * C) + 32 
C = -40
F = F = (9/5 * C) + 32
F

-40.0

In [55]:
# convert fahrenheit into celcius
F = -40
C = 5/9 * (F - 32)
print(C)

-40.0

In [59]:
 # Calculate interest where I = PRN/100. 
p = 1000
r = 3
n = 10
I = p*r*n/100
I

300.0

In [61]:
# calculate area & perimeter of a square. A = L^2, P = 4L 
a = 10
perimeter = 4*a
area = a*a
perimeter

40

In [63]:
area

100

In [67]:
# Calculate area & perimeter of a rectangle. A = L*B, P = 2 (L+B)
a = 10
b = 20
perimeter = 2*(a + b)
perimeter

60

In [71]:
area = a*b
area

200

In [73]:
# Calculate area of a circle. A = 22/7 * R * R
r = 5
area = 3.14*r**2
area

78.5

In [75]:
#  Calculate area of a triangle. A = H*L/2 
height = 10
length = 9
ar = height*length/2
ar

45.0

In [77]:
# Calculate net salary where net salary = gross salary + allowance – deduction.Allowances are 10% while deductions are 3% of gross salary.
gs = 10000
ded = gs*3/100
allo = gs*10/100
ns = gs + allo - ded
ns

10700.0

In [79]:
#  Calculate net sales where net sales = gross sales – 10% discount of gross sales.
gs = 2000
dis = gs*10/100
ns = gs - dis
ns

1800.0

In [81]:
#  Calculate average of three subjects along with their total. 
maths = 93
EEE = 80
computer = 68
total = maths + EEE + computer
avg = total/3
total

241

In [83]:
avg

80.33333333333333

In [85]:
# Swap two values.
a = 5
b = 9
temp = a # temp = 5
a = b # a = 9
b = temp # b = 5
a

9

In [87]:
b

5